
# ---------------------------------- VScode ---------------------------------- #

.vscode

# ---------------------------------- Storage --------------------------------- #

.cloud
.storage
event_media

# ---------------------------------- ESPHome --------------------------------- #

esphome/.esphome
esphome/secrets.yaml

# --------------------------- Log & database files --------------------------- #

home-assistant.log
home-assistant.log.1
home-assistant_v2.db

# -------------------------- System files & secrets -------------------------- #

*.pyc
*.db-wal
*.db-shm
secrets.yaml

# ------------------------------ Various files ------------------------------- #

custom_components
deps
tts
www
