.cloud
.storage
.vscode
.vscode/settings.json
secrets.yaml
esphome/secrets.yaml
esphome/.esphome
home-assistant.log
home-assistant_v2.db
deps
tts
www

home-assistant_v2.db-shm
home-assistant_v2.db-wal
